<%- include header %>
<% if(posts) { posts.forEach(function (post, index) {  %>
    <p><h2><a href="javascript:void(0);"><%= post.title %></a></h2></p>
    <p class="info">
         Author : <a href="javascript:void(0);"><%= post.name %></a>|
         Date : <%= post.time.minute %>
    </p>
<% }) } %>
<%- include footer %>
